head
    meta(charset='utf-8')
    meta(content="yes" name="apple-mobile-web-app-capable")
    meta(content="yes" name="apple-touch-fullscreen")
    meta(content="telephone=no,email=no" name="format-detection")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    link(rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon')
    link(href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet")
    script(src="https://use.fontawesome.com/adaf0e149c.js")
    link(rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.6.0/styles/monokai_sublime.min.css")
    link(rel='stylesheet' href='/css/index.css')
    link(rel='stylesheet' href='/css/post.css')
    link(rel='stylesheet' href='/css/markdown-github.css')
    title #{config.title}
    script(src='/js/googleAnalytics.js')